/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dhurjati&family=Poppins:wght@300;600&display=swap');

:root{
    --backco:rgb(241, 241, 241);
    --navcolor:rgb(204, 231, 255) ;
    --sq1: rgb(57, 35, 223);
    --butten: rgb(0, 234, 255) ;
    --sq2: rgb(241, 241, 241);
    --txtco: rgb(119, 0, 230);
    --nava: rgb(57, 35, 223);
    --navh: rgb(51, 0, 255);
    --navab:rgb(72, 240, 255) ;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--backco);
}

.line{
    background-color: gray;
    height: 6px;
    /* margin-top: 16vh; */
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: var(--navcolor);
    height: 60px;
}
.logo{
    font-size: 30px;
    font-family: 'Dhurjati', sans-serif;
}
.linksp > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.linksp ul li{
    margin-right: 22px;
}
.linksp > ul li a{
    text-decoration: none;
    font-size: 18px;
}
.linksp > ul li a:link{
    color: var(--nava);
    font-weight: 300;
}
.linksp > ul li a:visited{
    color: var(--nava);
    font-weight: 300;
    }
    .linksp > ul li a:hover{
        color: var(--navh);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        background-color: var(--navab);
        border-radius: 20px;
    }



    .main{
        margin-top: 36px;
        display: grid;
        grid-template-areas: "txt photo";
        justify-items: center;
        align-items: center;
        gap: 20px;
        margin-top: 25vh;
        margin-bottom: 20vh;
    }
.photo {
    grid-area: photo;
    position: relative;
    display: grid;
    grid-template-areas: "img";
    justify-items: center;
    align-items: center;
}
.sq1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--sq1);
    /* top: 11vh;
    right: 7vh; */
    border-radius: 20px;
    z-index: 1;
    transform: rotate(33deg);
    grid-area: img;
}
.sq2{
    width: 265px;
    height: 265px;
    background-color: var(--sq2);
    position: relative;
    grid-area: img;
    /* top: -20vh;
    right: 4.5vh; */
    border-radius: 20px;
    z-index: 2;
    transform: rotate(33deg);
}

.content{
    width: 40vh;
    margin: auto;
}

.content div{
    display: block;
    margin-left: 8vh;
    grid-area: txt;
    

}
.txt > span{
    display: block;
    font-size: 56px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.txt  pre{
    font-size: 30px;
    font-family: 'Baloo Bhai 2', sans-serif;
    line-height: 37px;
}
.txt pre > span{
    color: var(--txtco);
}
.txt button{
    margin-top: 28px;
    padding: 9px;
    border-radius: 18px;
    margin-left: 22px;
    box-shadow: none;
    background-color: var(--butten);
    font-family: 'Baloo Bhai 2', sans-serif;
    text-align: center;
    border: 2px solid gray;
}
.txt button:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media (prefers-color-scheme:dark){
    :root{
        --navcolor: #00CCCC;
        --sq1: rgb(183, 0, 255);
        --sq2: #141e30;
        --butten: #00CCCC ;
        --nava: white;
        --navh: rgb(71, 71, 71);
        --navab:rgb(108, 255, 255);
        --txtco: blueviolet;
    }
    nav{
        color: white;
    }
    body{
        background-color: #141e30;
    }
    .txt{
        color: white;
    }
    .txt > button{
        color: white
    }
}

@media screen and (max-width:1080px){
    
    .content div {
        margin-left: -1vh;
    }
    @media screen and (max-width:800px) {
        nav{
            margin: auto;
            position: static;
            width: 45vh;
            border-radius: 22px;
        }
        .linksp ul li{
            margin-right: 10px;
        }
        .linksp > ul li a{
            text-decoration: none;
            font-size: 12px;
        }
        .main{
            display: flex;
            flex-direction: column-reverse;
            gap: 100px;
            margin-top: 14vh;
            justify-content: center;
            align-items: center;
        }


    }
}

@media screen and (max-width:400px){
    .photo{
        visibility: hidden;
    }
}
