div.card{
    width: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(109, 26, 137);
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}