@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    display: block;
    /* width: 200px; */
    /* margin: 0 40px; */
    /* position: absolute; */
    /* left: 30px; */
}

.Navbar ul {
    display: flex;
    gap: 0 20px;
    list-style: none;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
}
.Navbar li a {
    text-decoration: none;   
    color: black;
    font-size: 15px;
}
.Navbar li a:visited{
    color: black;
}
.Navbar li:hover{
    background-color: #9c9b99;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
.Navbar ul li{
    display: flex;
    align-items: center;
}

.sec1{
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    justify-items: center;
}
.sec1 > span{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}
.sec1 > span > img{
    margin-left: 17px;
}
.sec1 p{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    width: 67vw;
}
.sec1 button{
    text-align: center;
    padding: 17px 19px;
    border: none;
    border-radius: 6px;
    background-color: rgb(66, 191, 191);
    color: white;
    margin-bottom: 46px;
    font-family: sans-serif;
}
.sec1 button:hover{
    background-color:rgb(57, 161, 161);
}
.download{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin-left: 10vw;
    margin-bottom: 30px;
}
.download > img{
    margin-right: 10px;
}

.boxes{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-content:center;
}

.box{
    background-color: #f6f6f6;
    height: 22vh;
    width: 20vw;
    text-align: center;
    justify-self: center;
}
.box a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px 0;
    padding: 6px;
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', sans-serif;
}
/* .box a:hover{ */
    /* background-color: #56d2ff; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    /* transform: scale(1.1); */
    /* transition: all 0.3s ease-in-out; */
/* } */
.box h3{
    font-family: 'Poppins', sans-serif;
    margin: 30px 10px 6px 12px;
    text-align: center;
}
.box h5{
    font-family:  sans-serif;
    font-size: 10px;
    text-align: center;
    margin: 0 0 10px 0;
}
.box a:nth-child(3){
    background-color: rgb(66, 191, 191);
}
.box a:nth-child(4){
    background-color: rgb(80, 202, 67);
}
.box a:nth-child(3):hover{
    background-color: rgb(57, 161, 161);
}
.box a:nth-child(4):hover{
    background-color: rgb(90, 226, 75);
}
.box1 a:nth-child(2){
    background-color: rgb(66, 191, 191);
}
.box1 a:nth-child(3){
    background-color: rgb(80, 202, 67);
}
.box1 a:nth-child(2):hover{
    background-color: rgb(57, 161, 161);
}
.box1 a:nth-child(3):hover{
    background-color: rgb(90, 226, 75);
}

.box1 h3{
    margin: 30px;
}

/* @media only screen and (max-width:330px) {
    .boxes{
        margin: 20px 0px;
        display: grid;
        grid-template-columns:400px;
        grid-template-rows: repeat(10, 200px);
        gap: 20px;
        justify-content: center;
    }

    .box{
        justify-self: center;
    }
} */
@media only screen and (max-width:1080px) {
    .boxes{
        margin: 20px 0px;
        display: grid;
        grid-template-columns:400px;
        grid-template-rows: repeat(10, 160px);
        gap: 20px;
        justify-content: center;
    }

    .box{
        justify-self: center;
        width: 50vh;
        height: 160px;
    }
}