nav{
    display: flex;
    position: sticky;
    top: 0%;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
    background-color: #6f3366;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav h1{
    font-size: 1.5rem;
    /* color: #333; */
}
nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li{
    list-style: none;
}