@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    display: block;
    /* width: 200px; */
    /* margin: 0 40px; */
    /* position: absolute; */
    /* left: 30px; */
}

.Navbar ul {
    display: flex;
    gap: 0 20px;
    list-style: none;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
}
.Navbar li a {
    text-decoration: none;   
    color: black;
}
.Navbar li a:visited{
    color: black;
}
.Navbar li:hover{
    background-color: #9c9b99;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
.Navbar ul li{
    display: flex;
    align-items: center;
}